body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.searchBox {
  background-color: white;
  height: 200px;
  position: absolute;
  top: 50px;
  z-index: 10000 !important;
  left: 4%;
  /* height: ; */
  overflow-y: scroll;
  padding: 10px;
  border-radius: 10px;
  width: 90%;
  border: 0.2px solid #cfcfcf;
}

.searchBox .searchBoxCloseIcon {
  position: absolute;
  top: 5px;
  right: 5px;
  font-weight: 700;
  color: black;
  font-size: 13px;
  cursor: pointer;
}

.navbar-nav .nav-link {
  padding: 15px !important;
}

.apply_buttn {
  width: 100%;
  background-color: #603200;
  border: 1px solid #603200;
  color: #fff;
  border-radius: 0.375rem;
  padding: 10px;
  font-size: 17px !important;
  text-transform: uppercase;
  margin-top: 20px;
}

.apply_buttn:hover {
  background-color: transparent;
  color: #603200;
  transition: all 0.3s;
}

.clear_filter {
  padding: 0px;
  border: none;
  font-size: 14px;
  color: #603200;
  background-color: transparent;
}

.clear_filter:hover {
  font-weight: 600;
  transition: 0.4s;
}

.shop-filter .title {
  margin-bottom: 0pc !important;
}
.dealerapply{
  background: #573C26;
  border: 4px solid #BC9B80;
  font-size: 20px;
  color: white;
  border-radius: 30px;
}
.css-13cymwt-control{
  background: transparent !important;
  border: none !important;
}
.css-13cymwt-control :hover{
  background: transparent !important;
  border: none !important;
}
.css-13cymwt-control::placeholder{
  color: transparent;
}
.abc{
  background: transparent !important;
}